*.swp
t.t
t.txt
.gitignore
.git
.git*
.git/*
data/raw-download
documentation
DockerFile
Readme.md
README.md
update-gitpages.sh
update-other-repo.sh
util/providers_process_raw.py
util/providers_remove_old_data.sh
util/providers/update_gen_data_in_get.sh

