# Binaries for programs and plugins

*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


t.t2
t.tmp
t.t


# This is a huge file need to be sure I want to check it in.
people.txt


# Visual studio code artifacts left around
.vs*
*ProjectSettings.jsons
*slnx.sqlite
*.suo

log/*
data/raw-download/dental/provider/*.err
