#operatorStateContainer .input_fieldLabel,
#operatorZipContainer .input_fieldLabel {
    width: fit-content;
    padding-left: 0.15em;
}

div.vgroupCont {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}