.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFFF;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    border: none;
}

#top_nav {
    width: 100%;
    display: flex;
    height: 1.7em;
    background-color: #124981;
    color: #FFF;
    font-family: Arial;
    font-size: 1.4em;
    font-weigt: bold;
    text-align: center;
    vert-align: center;
    padding-top: 0.03em;
    padding-bottom: 0.03em;
    overflow: hidden;
    margin: 0px;
    border: none;
}

#top_nav>h1 {
    font-size: 0.8em;
}

#page-vmid {
    width: 100%;
    height: 88%;
    display: flex;
    background-color: transparent;
    margin: 0px;
    border: none;
    padding: 0px;
    vertical-align: top;
}

#lbody {
    display: flex;
    width: 16%;
    max-width: 12em;
    min-width: 8em;
    height: 100%;
    font-family: Arial;
    text-align: left;
    vertical-align: top;
    background-color: #0F2B52;
    color: #F4FFFF;
    font-size: 0.7em;
    margin: 0px;
    border: none;
    padding: 0px;
    flex-direction: column;
}

#lbody a {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    color: Silver;

}

#lbody li {
    list-style-type: none;
    margin: 0;
    margin-left: 0.2em;
    padding: 0.1em;
    padding-left: 0.2em;
    display: flexbox;
}

#lbody a:visited {
    color: Silver;

}

#lbody li:hover {
    text-decoration: underline;
    backkground-color: #FAFAAA;
}

#lbody li:active {}

#lbody h3 {
    padding-bottom: 1px;
    margin-bottom: 1px;
    font-size: 0.8em;
}

#mbody {
    display: flex;
    background-color: white;
    width: auto;
    height: 100%;
    vertical-align: top;
    margin: 0px;
    border: none;
    padding: 0px;
}



#mbody p {
    padding-left: 1em;
    padding-right: 1em;
}


#page_footer {
    display: flex;
    width: 100%;
    background-color: #114980;
    color: #FAFAFA;
    font-weight: bold;
    text-align: center;
    vert-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
}

#dataObjDiv {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 20em;
    min-width: 15%;
    overflow: scroll;
    font-size: 0.78em;
    background-color: rgb(223, 222, 221);

}